.footer ul {
  text-align: center;
}
.footer ul li {
  display: inline;
  margin-right: 20px;
}
.footer > ul > li > a {
  border-bottom: none !important;
}
.footer a:not(.icon), .footer a:visited:not(.icon) {
  border-bottom: none !important;
}
