---
---

@import "footer";
@import "framework";

.footer a,
.footer a:visited {
  color: #69707a !important;
}
.footer a:hover {
  color: #222222 !important;
}

.no-top-padding {
  padding-top: 0 !important;
}

.nav .title {
  font-weight: bold;
}

.nick-pic {
  width:256px;
  height:256px;
  margin:0 auto 1em;
}

.nick-pic img {
  border-radius: 50%;
  border: 1px solid #dddddd;
}

.is-inline-block {
  display: inline-block;
  margin: 0.4em 0.25em;
}

.sideways-scroll {
  width: 100%;
  max-width: 100%;
  overflow-x: scroll;
}

.project-image {
  margin: 0 auto;
  text-align: center;
}
.project-image > figure,
.project-image > figure > img {
  margin: 0 auto;
}
.project-image img {
  width: auto;
  max-height: 350px;
  border: 1px solid #888888;
}
.the-raven {
  margin: 0 auto;
}
.the-raven img {
  width: auto;
}
