---
---

@import "footer";
@import "framework";

.no-top-padding {
  padding-top: 0 !important;
}

.nav .title {
  font-weight: bold;
}

.nick-pic {
  width:256px;
  height:256px;
  margin:0 auto 1em;
}
