---
layout: default
title: Nick's Portfolio
subtitle: These are the things that I have done.
---
<section class="section">
  {% for project in site.data.portfolio.projects %}
    <div class="card is-inline-block">
      <div class="card-image">
        <figure class="image is-4by3">
          <img src="{{ project.imageurls[0] }}" alt="">
        </figure>
      </div>
      <div class="card-content overflow-proof">
        <div class="media">
          <div class="media-content">
            <p class="title is-5">
              {{ project.title }}
              {% if project.link %}
                <a href="{{ project.link }}">(Link)</a>
              {% endif %}
            </p>
            <p class="subtitle is-6">{{ project.time }}</p>
          </div>
        </div>

        <div class="content">
          {% for pg in project.description %}
            <p>{{ pg }}</p>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endfor %}
</section>
