<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
    <script src="https://use.fontawesome.com/1b5853a8bb.js"></script>
	</head>
	<body>
		<nav>
  		<ul>
    		<li><a href="/">Home</a></li>
      		<li><a href="/about">About</a></li>
    		<li><a href="/resume">Resume</a></li>
    		<li><a href="/blog">Blog</a></li>
  		</ul>
		</nav>
		<div class="container">

		{{ content }}

		</div><!-- /.container -->
		<footer>
    	<ul>
    		<li><a href="mailto:nick@nick-brown.me" title="email">
          <i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i>
        </a></li>
    		<li><a href="https://github.com/ncbrown1" title="github">
          <i class="fa fa-github-alt fa-2x" aria-hidden="true"></i>
        </a></li>
        <li><a href="https://linkedin.com/in/ncbrown1" title="linkedin">
          <i class="fa fa-linkedin fa-2x" aria-hidden="true"></i>
        </a></li>
        <li><a href="https://twitter.com/ncbrown1" title="twitter">
          <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
        </a></li>
        <li><a href="https://open.spotify.com/user/121577201" title="spotify">
          <i class="fa fa-spotify fa-2x" aria-hidden="true"></i>
        </a></li>
			</ul>
		</footer>
	</body>
</html>
